@import url(http://weloveiconfonts.com/api/?family=zocial);
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
@font-face {
font-family: Sintony;
src: url(‘http://localhost/orga/fonts/Sintony-Regular.otf’)
format(“opentype”);
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

 body {
	margin:0px;
	font-family:sintony!important;
	background-image:url('http://localhost/orga/img/muster.png');
 }
 
 a {
	text-decoration:none;
	color:white;
 }
 
 .tiny_menu {
	width:40px;
	height:1000px;
	background-color:rgba(0,0,0,0);
	position:fixed;
	top:0px;
	color:white;
	font-size:1.1em;
	z-index:10000;
 }
 
 .tiny_menu a:active {
	background-color:#fff ;
	color:black;
 }
 
.tiny_menu_inner {
	margin:44px auto 0px auto;
	text-align:center;
	/*border-bottom:1px solid #2980B9;*/
	padding-bottom:41px;
}


.tiny_menu_inner_2 {
	margin:0px auto;
	text-align:center;
	/*border-bottom:1px solid #2980B9;*/
	padding:17.5px 0px;
	background-color:rgba(0,0,0,0);
	transition:all 1sec;
}

.tiny_menu_inner_2:hover {
	/*background-color:rgba(41,128,185,1);
	transition:all 1s ease 0s;*/
}

.tiny_menu_inner_3 {
	margin:0px auto;
	text-align:center;
	/*border-bottom:1px solid #2980B9;*/
	padding:18px 0px;
	background-color:rgba(0,0,0,0);
}

.tiny_menu_inner_3:hover {
	/*background-color:rgba(41,128,185,1);
	transition:all 1s ease 0s;*/
}

.drucken_uebersicht {
	padding:5px 10px;
	background-color:rgba(255,255,255,0);
	position:fixed;
	right:10px;
	bottom:10px;
	color:black;
	z-index:100;
	cursor:pointer;
	border:1px solid #000;
}

.drucken_uebersicht:hover{
	background-color:rgba(211, 84, 0,1);
	color:white;
	border:1px solid #fff;
	transition:all 1s;
}

.drucken {
	border: 2px solid #2C3E50;
	cursor:pointer;
}

.nichtdrucken {
	border: 2px solid #fff;
	cursor:pointer;
}

.tiny_menu_inner_4 {
	margin:0px auto;
	text-align:center;
	/*border-bottom:1px solid #2980B9;*/
	padding:17.5px 0px;
	background-color:rgba(0,0,0,0);
}

.tiny_menu_inner_4:hover {
	/*background-color:rgba(41,128,185,1);
	transition:all 1s ease 0s;*/
}

.tiny_menu_inner_5 {
	margin:0px auto;
	text-align:center;
	/*border-bottom:1px solid #2980B9;*/
	padding:17.25px 0px;
	background-color:rgba(0,0,0,0);
}

.tiny_menu_inner_5:hover {
	/*background-color:rgba(41,128,185,1);
	transition:all 1s ease 0s;*/
}

 .icon_size {
	font-size:40px;
	position:
 }
 
 .kategorie-banner {
	/*background-color:#f39c12;*/
	border-left:2px solid rgba(127,127,127,1);
	border-right:2px solid rgba(127,127,127,1);
	height:4px;
	z-index:1;
	color:rgba(255,255,255,0);
	text-align:center;
}
 
 /*.kategorie-banner:hover {
	transition:height 1s, color 0.2s ease 0.5s;
	height:30px;
	color:rgba(255,255,255,1);
 }*/
 
 .kategorie-banner-pseudo {
	height:4px;
	/*background-color:#f39c12;*/
	border-left:2px solid rgba(127,127,127,1);
	border-right:2px solid rgba(127,127,127,1);
	height:20px;
	position:relative;
	top:-15px;
	z-index:1;
 }
 
 .menu-button {
	font-size:40px;
	position:relative;
	top:-361px;
	left:230px;
	left:230px;
 }
 
 .menu-button a {
	color:rgba(0,0,0,0.35)!important;
	background-color:rgba(0,0,0,0)!important;
	border:none!important;
	width:10px!important;
	height:10px!important;
 }
 
 .menu-button a:hover {
	color:rgba(0,0,0,0.7)!important;
	transition:all 0.9s ease 0s;
 }
 
.tooltip_neueaufgabe_off {
	padding: 5px;
	color:#fff;
	background-color:rgba(0,0,0,0.6);
	font-family:arial;
	width:123px;
	font-size:12px;
	border-radius:4px;	
	position:fixed;
	top:123px;
	left:59px;
	z-index:999;
	opacity:0;
}

.tooltip_neueaufgabe_on {
	padding: 5px;
	color:#fff;
	background-color:rgba(0,0,0,0.6);
	font-family:arial;
	width:123px;
	font-size:12px;
	border-radius:4px;	
	position:fixed;
	top:123px;
	left:59px;
	z-index:999;
	opacity:100;
	transition:all 1s ease 1s;
}

.tooltip_neueaufgabe_dreieck_off {
	width: 0px;
	height: 0px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid rgba(0,0,0,0.6);
	left:52.5px;
	position:fixed;
	top:129px;
	opacity:0;
}

.tooltip_neueaufgabe_dreieck_on {
	width: 0px;
	height: 0px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid rgba(0,0,0,0.6);
	left:52.5px;
	position:fixed;
	top:129px;
	opacity:100;
	transition:all 1s ease 1s;
}

.tooltip_uebersicht_off {
	padding: 5px;
	color:#fff;
	background-color:rgba(0,0,0,0.6);
	font-family:arial;
	width:53px;
	font-size:12px;
	border-radius:4px;	
	position:fixed;
	top:181px;
	left:59px;
	z-index:999;
	opacity:0;
}

.tooltip_uebersicht_on {
	padding: 5px;
	color:#fff;
	background-color:rgba(0,0,0,0.6);
	font-family:arial;
	width:53px;
	font-size:12px;
	border-radius:4px;	
	position:fixed;
	top:181px;
	left:59px;
	z-index:999;
	opacity:100;
	transition:all 1s ease 1s;
}

.tooltip_uebersicht_dreieck_off {
	width: 0px;
	height: 0px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid rgba(0,0,0,0.6);
	left:52.5px;
	position:fixed;
	top:186px;
	opacity:0;
}

.tooltip_uebersicht_dreieck_on {
	width: 0px;
	height: 0px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid rgba(0,0,0,0.6);
	left:52.5px;
	position:fixed;
	top:186px;
	opacity:100;
	transition:all 1s ease 1s;
}
/*-------*/
.tooltip_archive_off {
	padding: 5px;
	color:#fff;
	background-color:rgba(0,0,0,0.6);
	font-family:arial;
	width:36px;
	font-size:12px;
	border-radius:4px;	
	position:fixed;
	top:240px;
	left:59px;
	z-index:999;
	opacity:0;
}

.tooltip_archive_on {
	padding: 5px;
	color:#fff;
	background-color:rgba(0,0,0,0.6);
	font-family:arial;
	width:36px;
	font-size:12px;
	border-radius:4px;	
	position:fixed;
	top:240px;
	left:59px;
	z-index:999;
	opacity:100;
	transition:all 1s ease 1s;
}

.tooltip_archive_dreieck_off {
	width: 0px;
	height: 0px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid rgba(0,0,0,0.6);
	left:52.5px;
	position:fixed;
	top:246px;
	opacity:0;
}

.tooltip_archive_dreieck_on {
	width: 0px;
	height: 0px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid rgba(0,0,0,0.6);
	left:52.5px;
	position:fixed;
	top:246px;
	opacity:100;
	transition:all 1s ease 1s;
}

/*-------------------------------------*/

.tooltip_fragen_off {
	padding: 5px;
	color:#fff;
	background-color:rgba(0,0,0,0.6);
	font-family:arial;
	width:38px;
	font-size:12px;
	border-radius:4px;	
	position:fixed;
	top:295px;
	left:59px;
	z-index:999;
	opacity:0;
}

.tooltip_fragen_on {
	padding: 5px;
	color:#fff;
	background-color:rgba(0,0,0,0.6);
	font-family:arial;
	width:38px;
	font-size:12px;
	border-radius:4px;	
	position:fixed;
	top:295px;
	left:59px;
	z-index:999;
	opacity:100;
	transition:all 1s ease 1s;
}

.tooltip_fragen_dreieck_off {
	width: 0px;
	height: 0px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid rgba(0,0,0,0.6);
	left:52.5px;
	position:fixed;
	top:301px;
	opacity:0;
}

.tooltip_fragen_dreieck_on {
	width: 0px;
	height: 0px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid rgba(0,0,0,0.6);
	left:52.5px;
	position:fixed;
	top:301px;
	opacity:100;
	transition:all 1s ease 1s;
}

input {
	margin:10px 100px;
	border:3px solid rgba(0,0,0,0.35);
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	/*border-radius: 6px;*/
	padding:3px 5px;
	font-size:20px;
	color:#34495E;
	width:300px;
	font-family:sintony;
}



input:focus {
	border:3px solid #3498db;
	transition: border 0.5s linear 0s, color 0.5s linear 0s;
	outline:none;
}

input:hover {
	border:3px solid #3498db;
	transition: border 0.5s linear 0s, color 0.5s linear 0s;
}

textarea {
	margin:10px 100px;
	border:3px solid rgba(0,0,0,0.35);
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	padding:3px 5px;
	font-size:15px;
	color:#34495E;
	font-family:sintony;
	resize:none;
}	

textarea:focus {
	border:3px solid #3498db;
	transition: border 0.5s linear 0s, color 0.5s linear 0s;
	outline:none;
}

textarea:hover {
	border:3px solid #3498db;
	transition: border 0.5s linear 0s, color 0.5s linear 0s;
}
	
#header {
	width:100%;
	background-color:#3498db;
}

#header_wrapper {
	width:1000px;
	margin:0px auto;
	color:rgba(255,255,255,1);
	height:50px;
}

.wrapper {
	width:1000px;
	margin:0px auto;
	padding:0px auto;
}

.formular {
	color:black;
	margin:36px 335px;
	width:500px;
	padding:0px auto;
}

.formularpusher {
	color:black;
	margin:36px 135px;
	width:500px;
	padding:0px auto;
	transition:all 2s;
}

.wrapper_index {
	margin:36px auto;
	width:700px;
	padding:0px auto;
}

.wrapper-uebersicht {
	width:1146px!important;
	margin:36px auto;
	overflow:hidden;
	margin-left:135px;
	transition:all 2s;
}

.wrapper-push {
	width:1146px;
	margin:36px auto;
	overflow:hidden;
	margin-left:135px;
	transition:all 2s;
	
}

#input_name {
	width:300px;
}

#input_kurzbeschreibung {
	width:300px;
}

#input_beschreibung {
	width:300px;
	height:230px;
	
}

#input_datum {
	width:300px;
}

.input_suche {
	width:871px;
	margin:0px auto;
	float:left;
}

#div_button_erstellen {
	width:300px;
	margin:0px auto;
}

.button_erstellen {
	background-color:#1ABC9C;
	/*border-radius:6px;*/
	font-size:20px;
	color:white;
	padding:10px 5px;
	width:316px;
	margin:10px 100px;
	text-align:center;
	float:left;
	border:none;
}

.button_erstellen:hover {
	background-color:#2ECC71;
	transition:all 0.5s ease 0s;
	cursor:pointer;
}

.heading {
	font-size:27px;
	color:rgba(0,0,0,0.20);
	margin-bottom:20px;
	margin-left:100px;
}

.heading-uebersicht {
	font-size:27px;
	color:rgba(0,0,0,0.20);
	margin: 3px auto 20px;
}

.button_erstellen_drucken {
	background-color:#2c3e50;
	/*border-radius:6px;*/
	font-size:20px;
	color:white;
	padding:10px 5px;
	width:163px;
	margin:-70px 84px;
	text-align:center;	
	float:right;
}

.button_erstellen_drucken:hover{
	background-color:#34495e;
	transition:all 0.5s ease 0s;
	cursor:pointer;
}

.button-suche {
	padding:5px 10px;
	text-align:center;
	background-color:#2980b9;
	/*border-radius:6px 6px 6px 6px;*/
	font-size:20px;
	color:#FFFFFF;
	margin:0px auto auto 26px;
	border:none;
	float:right;
}

.button-suche:hover {
	background-color:#3498db;
	transition:all 0.8s ease 0s;
}

.sortierung {
	width:100%;
	margin:40px 0px;
	word-spacing:50px;
}

.sortierung-auswahl {
	margin:0px auto;
	text-align:center;
}

.sortierung-auswahl a {
	font-size:21px;
	color:rgba(0,0,0,0.20);
}

.sortierung-auswahl a:hover {
	color:#3498db;
	transition:all 0.8s ease 0s;
	
}

#suche {
	width:90%;
}

.item  {
	width:250px;
	margin:10px 0px;
}

.kopfbereich {
	background-color:#7F7F7F;
	background-image:url('http://localhost/orga/img/muster.png');
	color:#ffffff;
	padding:10px 10px 10px 10px;
	/*position:relative;*/
	z-index:2;
	/*border-radius:5px 5px 0px 0px;*/
}

.kopfbereichhover {
	background-color:rgba(52,152,219,1);
	color:#ffffff;
	padding:10px 10px 10px 10px;
	transition:all 0.5s;
}

.navigation_button {
	font-size:28px;
}

.bereich-beschreibung {
	background-color:#fff;
	padding:20px 10px 20px 10px;
	font-size:15px;
	color:rgba(0,0,0,0.8);
	border-left:2px solid rgba(0,0,0,0.5);
	border-right:2px solid rgba(0,0,0,0.5);
	border-bottom:2px solid rgba(0,0,0,0.5);
}

.fussbereich { 
	background-color:rgba(0,0,0,0.5);
	padding:10px 0px 10px 10px;
	color:white;
	/*border-radius:0px 0px 12px 12px;
	-webkit-box-shadow: 0 5px #393939;
	-moz-box-shadow: 0 5px #393939;
	box-shadow: 0 5px #393939;*/
}

.container-einstellungen {
	padding:0px 0px;
}

.output-name {
	font-size:15px;
	margin-bottom:15px;
}

.output-kurzbeschreibung {
	font-size:25px;
	margin-top:2px;
}

.triangle-topright {
	width: 0;
	height: 0;
	border-top: 60px solid #e74c3c; 
	border-left: 60px solid transparent;
	position:absolute;
	top:0px;
	left:190px;
	opacity:0;
 }
 
 .triangle-topright-hover {
	width:0;
	height:0;
	border-top: 60px solid #e74c3c;
	border-left: 60px solid transparent;
	position:absolute;
	top:0px;
	left:190px;
	opacity:1;
	transition:all 1s;
 }

.icon_popup {
	position:relative;
	top:-52px;
	left:-25px;
	color:white;
	font-size:20px;
	
} 

.pseudo {
	background-color:rgba(0,0,0,0);
	height:150px;
	width:250px;
	position:absolute;
	opacity:0;
}

.pseudo:hover {
	opacity:1;
	transition:all 0.8s;
}

.popup-icon {
	color:white;
	position:absolute;
	top:7px;
	left:225px;
	z-index:10000;
	font-size:20px;
}

.mail-button {
	color:white;
	font-size:20px;
	margin-bottom:10px;
}

.gespeichert{
	background-color:#DFF0D8;
	width:600px;
	color:#468847;
	font-size:15px;
	font-weight:bold;
	margin:20px auto;
	/*border-radius:6px*/
	border:2px solid #468847;
	text-align:center;
	padding:10px 0px;
	
}


.kontakt-text {
	position:relative;
	bottom:50% !important;
	padding:10px 0px
}

/*--------------------------------------*/





.cbp-spmenu {
    background: #3498db;
    position: fixed;
	border-right:1x solid #2980b9;
}
 
.cbp-spmenu h3 {
    color:white;
    font-size: 1.1em;
	padding:45px 20px 40px;
    margin: 0;
    font-weight: 300;
	border-bottom:1px solid #2980b9;
}
 
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
}
 
.cbp-spmenu a:hover {
    background: #2980b9;
	transition:all 1s;
}

.javascript_hover {
	background:#2980b9;
	transition:all 1s;
	margin:0px auto;
	text-align:center;
	border-bottom:1px solid #2980B9;
	padding:17.5px 0px;
}

.javascript_hover3 {
	margin:0px auto;
	text-align:center;
	border-bottom:1px solid #2980B9;
	padding:18px 0px;
	background:#2980b9;
	transition:all 1s;
}

.javascript_hover4 {
	margin:0px auto;
	text-align:center;
	border-bottom:1px solid #2980B9;
	padding:17.5px 0px;
	background:#2980b9;
	transition:all 1s;
}

.javascript_hover5 {
	margin:0px auto;
	text-align:center;
	border-bottom:1px solid #2980B9;
	padding:17.5px 0px;
	background:#2980b9;
	transition:all 1s;
}

.javascript_hover_text {
	border-bottom:1px solid #2980B9;
	padding:1em;
	background-color:#2980B9;
	transition:all 1s;
}
 
.cbp-spmenu a:active {
    background: #2980b9;
}
 
 
 
/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

 
.cbp-spmenu-vertical a {
    border-bottom: 1px solid #2980b9;
    padding: 1em;
	padding-left:48px;
}

.cbp-spmenu-vertical-java{
    border-bottom: 1px solid #2980b9;
    padding: 1em;
}


.cbp-spmenu-vertical-text {
	 border-bottom: 1px solid #2980b9;
    padding: 1em;
}


 
.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}
 
.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}
 
.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}
 
.cbp-spmenu-left {
    left: -200px;
}
 

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
 
 
/* Push classes applied to the body */
 
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
 
.cbp-spmenu-push-toright {
    left: 240px;
}
 
.cbp-spmenu-push-toleft {
    left: -240px;
}
 
/* Transitions */
 
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
}
 
/* Example media queries */
 
@media screen and (max-width:768px){
 
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 100;
    }
 
    .cbp-spmenu-top {
        top: -110px;
    }
 
    .cbp-spmenu-bottom {
        bottom: -110px;
    }
 
}
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
 
    .cbp-spmenu-right {
        right: -190px;
    }
 
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}





/*------------------------------------------------------*/



.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
	background-image:url(http://localhost/orga/img/muster.png);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 600px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 0px 20px;
	/*border-radius: 5px;*/
	background: #fff;
	-webkit-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.5);
}


.close {
	background:#c0392b ;
	color: #fff;
	line-height: 25px;
	position: absolute;
	right: 18px;
	text-align: center;
	top: 0px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	/*-webkit-border-radius: 12px;
	-moz-border-radius: 12px;/*
	/*border-radius: 12px;*/
	/*-moz-box-shadow: 1px 1px 3px #000;*/
	/*-webkit-box-shadow: 1px 1px 3px #000;*/
	/*box-shadow: 1px 1px 3px #000;*/
}

.close:hover { 
	background: #e74c3c;
	transition:all 0.2s;
 }

.kopfbereich-popup {
	border-bottom:1px solid rgba(0,0,0,0.2);
	padding:10px 0px;
}

.output-name-popup {
	float:left;
	position:relative;
	top:11px;
}

.output-datum-popup {
	float:right;	
	position:relative;
	top:-6px;
}

.output-kurzbeschreibung-popup {
	font-size:35px;
	margin-top:25px;
}

.bereich-beschreibung-popup {
	padding:20px 0px;
	border-bottom:1px solid rgba(0,0,0,0.2);
	text-align:justify;
}

.fussbereich-popup{
	padding: 10px 0px;
	color:rgba(0,0,0,0.7);
}

.button-bereich-popup {

}

.button-drucken-popup {
	padding:21px 10px;
	/*background-color:#B1DCFB;*/
	color:black;
	font-size:20px;
	width:48%;
	/*border-radius:6px;*/
	text-align:center;
	cursor:pointer;
	float:left;
	margin-top:15px;
}

.button-drucken-popup:hover {
	background-color:#B1DCFB;
	transition:all 0.3s;
}

.button-archive-popup {
	padding:20px 10px;
	/*background-color:#c0392b;*/
	color:black;
	font-size:20px;
	width:48%;
	/*border-radius:6px;*/
	text-align:center;
	border:none;
	cursor:pointer;
	float:left;
	margin:15px 0px;
}

.button-archive-popup:hover{
	background-color:#B1DCFB;
	transition:all 0.3s;
}

.button-pdf-popup {
	padding:21px 10px;
	/*background-color:#27ae60;*/
	color:black;
	font-size:20px;
	width:150px;
	/*border-radius:6px;*/
	text-align:center;
	cursor:pointer;
	float:left;
	margin-top:15px;
}

.button-pdf-popup:hover {
	background-color:#B1DCFB;
	transition:all 0.3s;
}

.container-flat-shadow {
  padding: 100px;
  background: #222D3A;
}

.shape {
  text-shadow: 1px 1px rgb(43, 126, 182), 2px 2px rgb(43, 126, 182), 3px 3px rgb(43, 126, 182), 4px 4px rgb(43, 126, 182), 5px 5px rgb(43, 126, 182), 6px 6px rgb(43, 126, 182), 7px 7px rgb(43, 126, 182), 8px 8px rgb(43, 126, 182), 9px 9px rgb(43, 126, 182), 10px 10px rgb(43, 126, 182), 11px 11px rgb(43, 126, 182), 12px 12px rgb(43, 126, 182), 13px 13px rgb(43, 126, 182), 14px 14px rgb(43, 126, 182), 15px 15px rgb(43, 126, 182), 16px 16px rgb(43, 126, 182), 17px 17px rgb(43, 126, 182), 18px 18px rgb(43, 126, 182), 19px 19px rgb(43, 126, 182), 20px 20px rgb(43, 126, 182), 21px 21px rgb(43, 126, 183), 22px 22px rgb(43, 127, 184), 23px 23px rgb(43, 128, 185), 24px 24px rgb(44, 129, 186), 25px 25px rgb(44, 130, 188), 26px 26px rgb(44, 131, 189), 27px 27px rgb(45, 132, 190), 28px 28px rgb(45, 132, 191), 29px 29px rgb(45, 133, 193), 30px 30px rgb(46, 134, 194), 31px 31px rgb(46, 135, 195), 32px 32px rgb(46, 136, 196), 33px 33px rgb(46, 137, 198), 34px 34px rgb(47, 138, 199), 35px 35px rgb(47, 139, 200), 36px 36px rgb(47, 139, 201), 37px 37px rgb(48, 140, 202), 38px 38px rgb(48, 141, 204), 39px 39px rgb(48, 142, 205), 40px 40px rgb(49, 143, 206), 41px 41px rgb(49, 144, 207), 42px 42px rgb(49, 145, 209), 43px 43px rgb(49, 145, 210), 44px 44px rgb(50, 146, 211), 45px 45px rgb(50, 147, 212), 46px 46px rgb(50, 148, 214), 47px 47px rgb(51, 149, 215), 48px 48px rgb(51, 150, 216), 49px 49px rgb(51, 151, 217), 50px 50px rgb(52, 152, 219);
   background-color: rgb(52, 152, 219);
  height: 150px;
  font-size: 75px;
  line-height: 66px;
  text-align: center;
}

.test {
	left:100px!important;
	-webkit-box-shadow: 0px 10px 10px 4px #FFF;
	-moz-box-shadow: 0px 10px 10px 4px #FFF;
	box-shadow: 0px 10px 10px 4px #FFF;

}

.suggestion p {
	color:rgba(0,0,0,0.65);
}

.suggestion  p:hover {
	color:rgba(0,0,0,1)!important;
	transition:all 0.3s;
}